.buttom-page-section{
    background-color: black;
    color: white;
    display: flex;
    height: fit-content;
    padding: 5px;
    width: 105vw;
    margin-top: 150px;
    padding-bottom: 20px;
    margin-left: -30px;
    margin-bottom: -10px;
}

.buttom-page-section a{
    text-decoration: none;
}


.about-us{
    width: 90%;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 20px;
}


.about-us .about-us-title{
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 10px;
    border-radius: 15px;
    margin-left: 25px;
}

.about-us-message{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
}


.about-us-information{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
}


.meet-the-team{
    background-color: #fdbf04;
    padding: 5px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
}

.meet-the-team:hover{
    background-color: #dca80c;
}


.icon-img img{
    width: 25px;
    object-fit: contain;
    object-position: center;
    margin-right: 15px;
    z-index: 1;
    transition: width .3s;
    margin-bottom: 15px;
    margin-top: 15px;
}

.icon-img img:hover{
    cursor: pointer;
    width: 35px;
}

.email{
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-left: -5px;  
}

@media (min-width:768px){
    .about-us{
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px){
    .about-us-message{
        margin-right: 25px;
    }
}

