.featured-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 230px !important;
}

.featured-section p {
    text-align: center;
    margin-top: -18px;
}

.featured_container {
    margin-top: 50px;
}

.featured_house_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 35px;
}

.featured_container .featured_house_grid .featured-house img {
    width: 350px;
    display: none;
    cursor: pointer;
    height: 250px !important;
}

.featured_container .featured_house_grid .featured-house img.DisplayArea {
    display: block;
}


.featured_container .featured_house_grid .featured-house {
    height: 330px !important;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    color: white;
    background-color: rgb(1, 1, 1);
    transition: box-shadow 1s;
}

.featured-house:hover {
    box-shadow: 5px 3px 15px rgb(55, 55, 55);
}

.featured-house:hover .add-to-favourite{
    opacity: 1;
}

.featured-house a {
    text-decoration: none;
    color: white;
}

.featured-home-information{
    position: absolute;
    top: 76%;
    right: 0;
    left: 0;
    padding-top: 10px;
}

.featured_container .featured-house .home-title {
    text-align: center;
    margin-top: -20px;
}

.featured-house .home-details {
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
}

.left-button, .right-button {
    background: rgba(243, 237, 237, 0);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    opacity: 0; /* Start with buttons hidden */
    transition: opacity 0.3s;
    padding: 0px;
}

.left-button {
    left: 0px;
}

.right-button {
    right: 0px;
}

.left-button svg, .right-button svg {
    fill: #FFFFFF;
}

.featured-house:hover .left-button,
.featured-house:hover .right-button {
    opacity: 1; /* Show buttons on hover */
}

.status {
    position: absolute;
    top: 8px;
    left: 10px;
    background-color: rgba(128, 128, 128, 0.536);
    padding: 3px;
    color: white;
}

.featured_price {
    background-color: #edb408cf;
    position: absolute;
    top: 8px;
    right: 10px;
    font-weight: bold;
    color: black;
    padding: 3px;
    opacity: 0;
    transition: opacity .7s;
}

.featured-house:hover .featured_price {
    opacity: 1;
}

.add-to-favourite{
    position: absolute;
    top: 63%;
    left: 10px;
    background-color: #edb408d7;
    border: none;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 5px;
}


@media (max-width: 1024px) {
    .featured_house_grid{
        display: grid;
        grid-template-columns: 430px 430px;
        align-items: center;
    }

    .featured_house_grid .featured-house{
        width: 420px;
        height: 335px !important;
    }

    .featured_js-image-slider img{
        width: 420px !important; 
        height: 265px !important;
    }

    .featured-home-information{
        top: 80% !important;
    }

    .add-to-favourite{
        top: 68% !important;
    }
}


@media (max-width:768px){

    .featured-section{
        width: 100vw
    }

    .featured_house_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .featured-house img{
        width: 300px !important;
        height: 200px !important;
    }

    .featured_house_grid .featured-house{
        width: 300px !important;
        height: 270px !important;
        
     }
    .featured-home-information{
        position: absolute;
        top: 210px !important;
        font-size: 14px;
    }
    .featured-house .add-to-favourite{
        top: 60% !important;
        opacity: 1;
    }
    .left-button,.right-button{
        top: 40%;
        transform: translateY(-50%);
        opacity: .5;
    }

    .left-button:active{
        opacity: 1;
    }
}

@media (min-width: 425px)and (max-width:430px){
    .featured-section{
        width: 100vw
    }

    .featured-section .featured-intro h1{
        font-size: 28px;
    }

    .featured_house_grid{
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .featured-house{
        width: 100% !important;
        height: auto !important;
    }

    .featured-house img{
        width: 100% !important;
    }


    .right-button{
        top: 40%;
        transform: translateY(-50%);
    }

    .left-button{
        top: 40%;
        transform: translateY(-50%);
    }

    .tooltip{
        display: none;
    }
}

@media (min-width: 375px) and (max-width:376px){

    .featured-section{
        width: 100vw !important;
    }

    .featured-section .featured-intro h1{
        font-size: 28px;
    }

    .featured_house_grid{
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .featured-house{
        width: 100% !important;
        height: auto !important;
    }

    .featured-house img{
        width: 100% !important;
    }


    .right-button{
        top: 40%;
        transform: translateY(-50%);
    }

    .left-button{
        top: 40%;
        transform: translateY(-50%);
    }

    .tooltip{
        display: none;
    }
}

@media (min-width: 320px) and (max-width:321px){
    .featured-section{
        width: 100vw !important;
    }

    .featured-section .featured-intro h1{
        font-size: 28px;
    }

    .featured_house_grid{
        grid-template-columns: 1fr;
        row-gap: 25px;
    }

    .featured-house{
        width: 100% !important;
        height: auto !important;
    }

    .featured-house img{
        width: 50vw
    }


    .right-button{
        top: 40%;
        transform: translateY(-50%);
    }

    .left-button{
        top: 40%;
        transform: translateY(-50%);
    }

    .tooltip{
        display: none;
    }
}


