
.filter-container1{
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 15px;
}

.filter-container1 div{
    display: flex;
    flex-direction: column;
    
}

.filter-container1 label{
    font-size: 1rem;
    color: white;
}


.filter-container1 select{
    width: 150px; /* Make all select elements the same width */
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;;
    margin-bottom: 10px;
    font-family: 'Oswald',sans-serif;
}

.search-button{
    font-size: 1rem;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #fdbf04;
    border: none;
    font-family: 'Oswald';
    width: 100px;
    transition: border-radius .2s;
}

.search-button:active{
    border-radius: 10px;
}

.filter-container1 select:focus{
    outline: none;
}

@media (min-width:754px){
    .filter-container1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .filter-container1 select{
        width: 110px;
    }
}


@media (min-width:1200px){
    .filter-container1 select{
        width: 150px;
        cursor: pointer;
    }
    .search-button{
        margin-right: 0px;
        cursor: pointer;
        transition: 0.3s;
    }

    .search-button:hover{
        font-size: larger;
    }
    .search-button:active{
        border-radius: 10px;
        transition: none;
    }
    
}
