.navigation{
    background-color: black/* #fdbf04 */;
    display: flex;
    padding: 10px;
    justify-content: space-between;  
    align-items: center;  
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;;
}

.navigation a{
    text-decoration: none;
    
}

.navigation .left-section{
    display: flex;
    justify-content: flex-start;
}

.left-section img{
    width: 70px;
    border-radius: 10px;
}

.navigation .right-section{
    display: flex;
    padding-right: 10px;
    position: relative;
}

.right-section button{
    background-color: transparent;
    width: auto;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: background-color .7s;
    margin-left: -60px;
}

.right-section button:hover{
    border: 1px solid black transparent;
    background-color: #fdbf04;
    
}

.right-section img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.favourite-counter{
    margin: 0;
    position: absolute;
    top: 25px;
    font-size: smaller;
    color: white;
    font-weight: 700;
    right: 10px;
    cursor:text;
}


.middle-section{
    position: relative;
    display: flex;
    align-items: center;
    width: 65%;
    margin-left: -65px;
}


input:focus{
    outline: none;
    box-shadow: inset 0px 0px 2px orange;
}

.middle-section{
    display: flex;
    justify-content: space-around;
}

.middle-section 
.featured,
                .about-us-nav{
   color: white;
   font-size: 1rem;
   transition: font-size .5s;
}

.middle-section 
.featured:hover,
.about-us-nav:hover{
    border-bottom: 2px solid #fdbf04;
    font-size: 1.3rem;
}

#featured-section{
    scroll-margin-top: 60px;
}

#about-us{
    scroll-margin-top: 230px ;
}



@media (min-width:754px){

    .middle-section 
    .featured,   
    .about-us-nav{
        font-size: 1.2rem;
        
    }
}

@media (min-width:1200px){
    .navigation .right-section{
        margin-right: 15px;
    }
}

