body {
    height: fit-content;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

html{
    padding: 0;
}

.detailed-page {
    height: fit-content;
    margin-top: 80px;
}

.detailed-home-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    height: fit-content;
    justify-content: space-evenly;
}

.home-section{
    order: 0;
}

.Listing-Details{
    order: 2;
}

.tabSection{
    order: 1;
}

@media (min-width:728px) {
    .detailed-home-grid {
        display: grid;
        grid-template-rows: 1fr 800px;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        height: fit-content;
    }

    .home-section {
        grid-column: 1 / span 2; /* Span across both columns */
        grid-row: 1; /* Occupy the top row */
      }
      
      .tabSection {
        grid-column: 2; /* Occupy the left column */
        grid-row: 2; /* Occupy the bottom row */
        margin: 0 auto;
      }
      
      .Listing-Details {
        grid-column: 1; /* Occupy the right column */
        grid-row: 2; /* Occupy the bottom row */
        margin: 0 auto;
      }
}

@media (min-width:992px) {
    .detailed-home-grid {
        display: grid;
        grid-template-rows: 1fr 800px;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        height: fit-content;
        justify-content: center;

    }

    .home-section {
        grid-column: 1 / span 2; /* Span across both columns */
        grid-row: 1; /* Occupy the top row */
      }
      
      .tabSection {
        grid-column: 2; /* Occupy the left column */
        grid-row: 2; /* Occupy the bottom row */
        margin: 0 auto;
      }
      
      .Listing-Details {
        grid-column: 1; /* Occupy the right column */
        grid-row: 2; /* Occupy the bottom row */
        margin: 0 auto;

      }
}

@media (min-width:1200px){
    .detailed-home-grid{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }

    .home-section{
        grid-column: 1;
        grid-row: 1;
        background-color: black !important;
    }

    .js-detailed-image-container{
        width: 65vw !important;
    }

    .Listing-Details{
        grid-column: 2; /* Place in the second column */
        grid-row: 1; /* Place in the first row */
        margin: 5px auto !important;
        overflow-y: auto !important;
        overflow-x: hidden;
        height: 530px !important;
    }

    .Listing-Details h4.Listing-Details h4{
        font-size: 1.5rem !important;
    }

     .tabSection.tabSection{
        grid-column: 1 / span 2; /* Span across both columns */
        grid-row: 2; /* Place in the second row */
        margin-left: 0px;
        margin-top: -24px;
        width: 100%;
    }

    .property-card.property-card{
        width: 100%;
    }

    .user-message{
        margin-top: -15px;
    }


}






